body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

/* Header Section */

.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    padding: 0 150px 100px;
}

.header-top,
.header-bot {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-top {
    margin-bottom: 50px;
    padding-top: 20px;
}

.header-bot {
    height: 250px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.description {
    width: 50%;
    height: 100%;
}

button {
    border-radius: 15px;
    height: 30px;
    width: 100px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
}


.main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

p {
    margin: 0;
}

.second-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

#placeholder {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: gray;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

/* Header Section */

/* Random Info Section */

.container-two {
    display: flex;
    flex-direction: column;
    height: 458px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

h1 {
    color: #1F2937;
}

.super-box-container {
    display: flex;
    gap: 40px;
}

.box {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.box-container {
    display: flex;
    flex-flow: column wrap;
    width: 160px;
    text-align: center;
}

.box-container p {
    color: #4d5f84;
    margin-top: 20px;
}

/* Random Info Section */

/* Quote Section */

.container-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
    align-items: center;
}

#quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    width: 830px;
}

#thor {
    align-self: flex-end;
    padding-right: 250px;
    font-size: 20px;
    font-weight: 900;
}

/* Quote Section */